@model Projet_Final.Areas.Identity.Data.ApplicationUtilisateur

<h1>Supprimer l'utilisateur</h1>

<div>
    <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
    <dl class="row">
        <dt class="col-sm-2">
            Id :
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>

        <dt class="col-sm-2">
            Prénom :
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>

        <dt class="col-sm-2">
            Nom de famille :
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>

        <dt class="col-sm-2">
            Adresse courriel :
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            Numéro de téléphone :
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index">Annuler</a>
    </form>
</div>
