@model List<Projet_Final.Areas.Identity.Data.ApplicationUtilisateur>

<h1>Liste des Utilisateurs</h1>

<form method="get">
    <p>
        <input type="text" name="rechercheUtilisateur" placeholder="Rechercher par nom, prénom, adresse courriel, etc." />
        <button type="submit">Rechercher</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Prenom</th>
            <th>Nom de famille</th>
            <th>Nom d'utilisateur</th>
            <th>Adresse courriel</th>
            <th>Numéro de téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td>@utilisateur.Id</td>
                <td>@utilisateur.FirstName</td>
                <td>@utilisateur.LastName</td>
                <td>@utilisateur.UserName</td>
                <td>@utilisateur.Email</td>
                <td>@utilisateur.PhoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id="@utilisateur.Id">Détails</a>
                    <form asp-action="Delete" asp-route-id="@utilisateur.Id" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                        <button type="submit">Effacer</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
