@model Projet_Final.Models.Voiture

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modèle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modèle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Année)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Année)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixJournalier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixJournalier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstDisponible)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.ImageVoiture)" alt="Image de la voiture" style="max-width: 50%;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
