@model Projet_Final.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer cette réservation?</h3>
<div>
    <h4>Réservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
