@{
    ViewData["Title"] = "Home Page";
}



<br />

<!--Services-->

<section id="carouselExample">

    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">


            <span class="subheading" style="color:black;font-size:xx-large">Réservez avec Louemonchar</span>
            <p>Découvrez notre large gamme de véhicules disponibles pour la location.</p>
            <br />

            <style>
                .custom-button {
                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                    background-color: #007bff;
                    color: #fff;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;
                }

                    .custom-button:hover {
                        background-color: #0056b3;
                    }
            </style>

            <a href="@Url.Action("ListeModeles", "Home")" class="custom-button">Voir toutes les modèles de voitures</a>

        </div>
    </div>


<section class="card-container">
    <div class="card">
        <div class="face face-1">
            <img src="~/images/services/service_1.jpeg" />
            <h3>
                Voiture de cérémonie
            </h3>
        </div>
        <div class="face face-2">
                <p>Voiture élégante et spécialement conçue pour les occasions cérémoniales telles que mariages, fiançailles et événements spéciaux. Son design raffiné et son allure distinguée en font le choix parfait pour des moments mémorables.</p>
        </div>
    </div>
    <div class="card">
        <div class="face face-1">
            <img src="~/images/services/service_2.jpg" />
            <h3>Voiture avec chauffeur</h3>
        </div>
        <div class="face face-2">
                <p>Profitez du luxe et du confort d'une voiture avec chauffeur professionnel. Que ce soit pour des déplacements d'affaires, des transferts aéroport ou des occasions spéciales, notre service de chauffeur vous assure un voyage en toute élégance et tranquillité.</p>
        </div>
    </div>
    <div class="card">
        <div class="face face-1">
            <img src="~/images/services/service_3.jpg" />
            <h3>Voiture de touriste</h3>
        </div>
        <div class="face face-2">
                <p>Explorez votre destination avec style à bord de notre voiture de touriste. Conçue pour offrir un mélange parfait de confort et de découverte, cette voiture est idéale pour les excursions touristiques. Profitez du voyage tout en découvrant les charmes de la région.</p>
        </div>
    </div>
</section>


    <!--Séparateur-->

    <br />
    <br />
 

    <h2 class="fancy" style="--w: 50vw;--c: #ea7b12;--b:4px;--g:-5px">A propos</h2>
    
    <br />
    <br />


<!--A propos-->


    <section class="apropos">
        <div class="container">
            <div class="row">
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">À propos de nous</span>

                            <h2>Bienvenue sur le site de Louemonchar</h2>
                        </div>
                        <div class="text">
                            Bienvenue chez LoueMonChar, votre partenaire de confiance pour des voyages mémorables en voiture. Nous sommes bien plus qu'une simple agence de location de voitures - nous sommes votre solution de mobilité de premier choix.
                            Chez LoueMonChar, notre engagement est de vous offrir des expériences de conduite exceptionnelles. Nous comprenons l'importance des déplacements dans votre vie, que ce soit pour des événements spéciaux, des voyages d'affaires ou simplement pour explorer de nouveaux horizons.
                            Notre flotte de véhicules de qualité, associée à un service clientèle exceptionnel, fait de nous le choix idéal pour répondre à vos besoins de transport. Que vous recherchiez une voiture élégante pour une cérémonie, une conduite avec chauffeur ou une voiture pour vos aventures touristiques, nous avons ce qu'il vous faut.
                            Faites confiance à notre équipe dévouée pour vous offrir des solutions de location flexibles, des tarifs compétitifs et une expérience sans tracas. Chez LoueMonChar, chaque kilomètre parcouru est une opportunité de vous offrir un service inégalé.
                            Choisissez LoueMonChar pour des voyages qui vont au-delà des attentes. Nous sommes fiers de vous accompagner sur la route de la découverte et de l'excellence.

                        </div>
                        <div class="text">
                            Nous sommes ici pour vous offrir des tutoriels de niveau supérieur qui sont actuellement en vogue afin de correspondre à votre expertise. Css3 transition est un site d'apprentissage où vous pouvez trouver de nombreux contenus de qualité liés au développement web et des tutoriels sur les plugins. Ici, nous utilisons html, html5, css, css3, jquery et javascript en plus de mises en page de conception UI inspirantes créées par des professionnels à l'aide de Photoshop et Adobe Illustrator
                        </div>

                        <br />
                        <br />
                        <div class="btn-box">
                            <a href="#" class="btn-primary">Louer une voiture</a>
                        </div>
                    </div>
                </div>

                <!-- Image Colonne -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                        <div class="author-desc">
                            <h2>Loue mon char</h2>
                            <span>Pour voyager plus loin</span>
                        </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="A propos" src="~/images/about/abouthome.jpg" alt=""></a></figure>

                    </div>
                </div>

            </div>

        </div>
    </section>


    <!--Séparateur-->

    <br />
    <br />


    <h2 class="fancy" style="--w: 50vw;--c: #ea7b12;--b:4px;--g:-5px">Voitures les mieux notées</h2>

    <br />
    <br />





    <!-- Carroussel-->
    <style>
        .voiture-image {
            max-width: 75%;
            max-height: 130px;
        }
    </style>

    <div class="container">
        <div class="slider">
            <div class="slider-inner">
                @foreach (var voiture in ViewData["Voitures"] as List<Voiture>)
                {
                    <div class="slider-item">
                        <div class="box">
                            <h2>@($"{voiture.Marque} {voiture.Modèle}")</h2>
                            <img src="@Url.Content(voiture.ImageVoiture)" class="card-img-top voiture-image" alt="Image de la voiture">
                            <p>Prix : $@voiture.PrixJournalier</p>
                            <div class="button-container">
                                <a href="@Url.Action("Details", "Voitures", new { id = voiture.Id })" class="btn btn-louer">Voir le modèle spécifique de voiture</a>
                                <a href="@Url.Action("Create", "Reservations", new { idVoiture = voiture.Id })" class="btn btn-retour">Réserver la voiture</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>




</section>



<!--Expériences-->

<section id="statistic" class="statistic-section one-page-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-md-3">
                <div class="counter">
                   
                    <h2 class="timer count-title count-number">23000</h2>
                    <div class="stats-line-black"></div>
                    <p class="stats-text">Clients</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="counter">
                    
                    <h2 class="timer count-title count-number">
                        110000
                    </h2>
                    <div class="stats-line-black"></div>
                    <p class="stats-text">Voitures</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="counter">
                   
                    <h2 class="timer count-title count-number">11</h2>
                    <div class="stats-line-black"></div>
                    <p class="stats-text">ans d`Experience</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="counter">
                   
                    <h2 class="timer count-title count-number">5</h2>
                    <div class="stats-line-black"></div>
                    <p class="stats-text">Provences</p>
                </div>
            </div>
        </div>
    </div>
</section>


<br />
<br />
<br />







    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>