@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthentificationLayout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Formulaire d'inscription -->
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Créer un nouveau compte</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Prenom" />
                            <label asp-for="Input.FirstName">Prenom</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Nom de famille" />
                            <label asp-for="Input.LastName">Nom De Famille</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Telephone" class="form-control" autocomplete="tel" placeholder="Numero de Telephone" />
                        <label asp-for="Input.Telephone">Numéro de Téléphone</label>
                        <span asp-validation-for="Input.Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                        <label asp-for="Input.Password">Mot de Passe</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                        <label asp-for="Input.ConfirmPassword">Confirmer Mot de Passe</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="Input.TwoFactorEnabled" class="form-check-input" />
                        <label class="form-check-label" asp-for="Input.TwoFactorEnabled">Activer l'authentification à deux facteurs sur SMS</label>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">S'inscrire</button>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }
            </form>
        </div>
    </div>

    <!-- Authentification externe -->
    <div class="col-md-6">
        <section>
            <h3>Utiliser un autre service pour s'inscrire.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Il n'y a aucun service d'authentification externe configuré. Consultez cet <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                pour configurer cette application ASP.NET afin de permettre la connexion via des services externes
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button id="externalLoginButton" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Se connecter avec votre compte @provider.DisplayName" disabled>@provider.DisplayName</button>
                                }
                            </p>
                            <p class="text-muted">Note: Veuillez remplir les champs de prénom et de nom de famille ci-dessus pour utiliser l'authentification externe.</p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var prenom = document.querySelector('#Input_FirstName');
            var nomFamille = document.querySelector('#Input_LastName');
            var googleLoginButton = document.querySelector('button[value="Google"]');
            var facebookLoginButton = document.querySelector('button[value="Facebook"]');

            function checkValidity() {
                var prenomEstValide = prenom.checkValidity();
                var nomFamilleEstValide = nomFamille.checkValidity();
                return prenomEstValide && nomFamilleEstValide;
            }

            function updateButtonState() {
                var estValide = checkValidity();
                var champTextesVide = prenom.value.trim() === '' || nomFamille.value.trim() === '';

                googleLoginButton.disabled = !estValide || champTextesVide;
                facebookLoginButton.disabled = !estValide || champTextesVide;
            }

            prenom.addEventListener('input', updateButtonState);
            nomFamille.addEventListener('input', updateButtonState);
        });
    </script>
}